*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
   width: 100%;
   height: 100vh;
   background:#262626; 
   display: grid;
   place-items:center;
}
.card-wrapper {
    width: 50rem;
    height: 70rem;
    background: #ccc;
    padding: 0 10rem;
    display:grid;
    place-items: center;
}
.card {
    width: 30rem;
    height: 55rem;
    background: #eee;
    border-radius: 2.5rem;
    box-shadow: 0 2rem 6 rem rgba(0, 0, 0, 0.7);
   
}
.card-top {
    width: 100%;
    height: 50%; 
    background: #87FF1D;
}

.logo {
    width: 8rem;
    
}

.shoe-1 {
    width: 30rem;
}